<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Pannello responsabile</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body onload="setFooter()">
<div id="header" class="container">
	<div id="logo">
		<h1><a th:href="@{/}">NewJob </a></h1>
		<p>Cambia la tua vita</p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a th:href="@{/}">Pannello</a></li>
			<li><a th:href="@{/logout}">logout</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="splash">
		<p><span>Pannello Responsabile Centro</span></p>
		<p th:text="${log}"></p>
	</div>
	<div id="page">
		<div id="content">
			<h2>Amministra il tuo centro</h2>
			<p> In questa sezione riservata al solo responsabile di un centro è possibile registrare le attività da svolgere in futuro e le prenotazioni effettuate dagli allievi. Inoltre puoi monitorare le presenze per una certa attività e visualizzare tutte le attività a cui un allievo ha deciso di iscriversi.</p>
		</div>
		<div id="sidebar">
		<p>
			<a th:href="@{/addAttività}">Aggiungi attività</a><br>
   		    <a th:href="@{/addAllievo}">Aggiungi allievo ad attività</a><br>
    		<a th:href="@{/reportAllievo}">Mostra report allievo</a><br>
    		<a th:href="@{/formReportAttività}">Mostra report attività</a><br>
    	</p>
		</div>
	</div>
</div>
<div id="footer"><p style="margin-top: 40px;">PROGETTO SIW 2017/2018 BY GIORGIO & TOMMASO ZAZZARETTI</p></div>
</body>
<script type="text/javascript"> 
function setFooter(){ 
	document.getElementById("footer").style.position = "relative";
	document.getElementById("footer").style.top = (window.innerHeight - 821) + "px";
	
}
</script>
</html>