<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Elenco attività</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a th:href="@{/}">NewJob </a></h1>
		<p>Cambia la tua vita</p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a th:href="@{/}">Pannello</a></li>
			<li><a th:href="@{/logout}">logout</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="splash">
		<p><span>Elenco attività</span></p>
		<p th:text="${log}"></p>
	</div>
	<div id="page"> 
		<div style= "height: 350px; overflow: auto;">
		<table style= "margin-left: auto; margin-right: auto;  border-collapse: collapse;">
				<tr>
				<td class = "tableElem">Nome</td>
				<td class = "tableElem">Giorno</td>
				</tr>
   		    	<tbody th:each="attivita : ${attivita}" >
    		  		<tr>
        				<td class = "tableElem" th:text="${attivita.nome}"></td>
        				<td class = "tableElem" th:text="${#dates.format(attivita.data, 'dd-MM-yyyy')}"></td>
     			    </tr>
  			    </tbody>
			</table> 
		</div>
	</div>
</div>
<div id="footer" style= "position: absolute; bottom: 0; width: 100%"><p style="margin-top: 40px;">PROGETTO SIW 2017/2018 BY GIORGIO & TOMMASO ZAZZARETTI</p></div>
</body>
</html>