<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Scegli attività</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a th:href="@{/}">NewJob </a></h1>
		<p>Cambia la tua vita</p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a th:href="@{/}">Pannello</a></li>
			<li><a th:href="@{/logout}">logout</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="splash">
		<p><span>Scegli attività</span></p>
		<p th:text="${log}"></p>
	</div>
	<div id="page">
		<div style= "height: 350px; align-content: center;">
				 <form style= "margin:0 auto; text-align:center;"th:action="@{/mostraReportAttivita}" method="POST">
    				<select name="id_attivita">
    					<option th:each="att : ${listaAttivita}" th:value="${att.id}" th:text="${att.nome + ' del ' + att.data}">
    					</option>
    				</select>
    				<input type="submit" value="Vai"/>
    			</form>
		</div>
	</div>
</div>
<div id="footer" style= "position: absolute; bottom: 0; width: 100%"><p style="margin-top: 40px;">PROGETTO SIW 2017/2018 BY GIORGIO & TOMMASO ZAZZARETTI</p></div>
</body>
</html>