
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Elenco allievo</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a th:href="@{/}">NewJob </a></h1>
		<p>Cambia la tua vita</p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a th:href="@{/}">Pannello</a></li>
			<li><a th:href="@{/logout}">logout</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="splash">
		<p><span>Elenco allievi</span></p>
	</div>
	<div id="page">
		<div style= "height: 350px; overflow: auto;">
		<table style= "margin-left: auto; margin-right: auto;  border-collapse: collapse;">
				<tr>
				<td class = "tableElem">Nome</td>
				<td class = "tableElem">Cognome</td>
				<td class = "tableElem">Email</td>
				<td class = "tableElem">Luogo di nascita</td>
				<td class = "tableElem">Data di nascita</td>
				<td class = "tableElem">Telefono</td>
				</tr>
   		    	<tbody th:each="allievo: ${listaAllievi}" >
			      <tr>
			         <td class = "tableElem" th:text="${allievo.nome}"></td>
			         <td class = "tableElem" th:text="${allievo.cognome}"></td>
			         <td class = "tableElem" th:text="${allievo.email}"></td>
			         <td class = "tableElem" th:text="${allievo.luogoNascita}"></td>
			         <td class = "tableElem" th:text="${#dates.format(allievo.dataNascita, 'dd-MM-yyyy')}"></td>
			         <td class = "tableElem" th:text="${allievo.telefono}"></td>
			      </tr>
			   </tbody>
			</table> 
		</div>
	</div>
</div>
<div id="footer" style= "position: absolute; bottom: 0; width: 100%"><p style="margin-top: 40px;">PROGETTO SIW 2017/2018 BY GIORGIO & TOMMASO ZAZZARETTI</p></div>
</body>
</html>