<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Inserisci dati</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a th:href="@{/}">NewJob </a></h1>
		<p>Cambia la tua vita</p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a th:href="@{/}">Pannello</a></li>
			<li><a th:href="@{/logout}">logout</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="splash">
		<p><span>Inserisci allievo e attività</span></p>
	</div>    
	<div id="page" style="text-align:center;">
	
		<p th:text="${notExist}" style="color:red"></p>
		<form th:action="@{/salvaAllievoVecchioAttivita}" method="POST">
    	<p>Mail allievo<br> <input type="email" name="email" id="email"></p>
    	<p>Attività:<br>
		<select name="id_attivita" >
   			  <option th:each="attivita: ${attivita}" th:value="${attivita.id}" th:text="${attivita.nome}">
    		  </option>
		</select></p>
    	<p><input type="submit" value="vai"></p>
    </form> 
	</div>
</div>
<div id="footer" style= "position: absolute; bottom: 0; width: 100%"><p style="margin-top: 40px;">PROGETTO SIW 2017/2018 BY GIORGIO & TOMMASO ZAZZARETTI</p></div>
</body>
</html>