<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Nuovo Responsabile</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a th:href="@{/}">NewJob </a></h1>
		<p>Cambia la tua vita</p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a th:href="@{/}">Pannello</a></li>
			<li><a th:href="@{/logout}">logout</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="splash">
		<p><span>Nuovo Responsabile</span></p>
	</div>
	<div id="page" style="text-align:center;">
		<p th:text="${exist}" style="color:red"></p>
		<form th:action="@{/registraCentro}" method="POST" th:object="${responsabile}">
				<p>Email:</p>
				<p><input type="email" th:field="*{email}" /></p>
				<p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
				<p>Password:</p>
				<p><input type="password" th:field="*{password}" /></p>
				<p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
				<p>Telefono:</p>
				<p><input type="text" th:field="*{telefono}" /></p>
				<p style="color:red" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></p>
			 	<p><button type="submit">Submit</button></p>
	</form>
	</div>
</div>
<div id="footer"><p style="margin-top: 40px;">PROGETTO SIW 2017/2018 BY GIORGIO & TOMMASO ZAZZARETTI</p></div>
</body>
</html>