<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Homepage</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body onload="showMap()">
<div id="header" class="container">
	<div id="logo">
		<h1><a th:href="@{/}">NewJob </a></h1>
		<p>Cambia la tua vita</p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a th:href="@{/}">Homepage</a></li>
			<li><a th:href="@{/login}">login</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="splash">
		<p><span>Benvenuto!</span>&nbsp;&nbsp;Accedi ai nostri servizi di riqualificazione professionale , tramite NewJob</p>
	</div>
	<div id="poptrox"> 
		<!-- start -->
		<ul id="gallery">
			<li><img src="images/img1.jpg"/></li>
			<li><img src="images/img3.jpg"/></li>
			<li><img src="images/img2.jpg"/></li>
		</ul>
		<br class="clear" />
		<!-- end --> 
	</div>
	<div id="page">
		<div id="content">
			<h2>Migliora le tue competenze</h2>
			<p> Il mondo lavorativo e industriale è in continuo sviluppo e mutamento. Nuovi lavori vengono richiesti a discapito di altri , e questo genera nel tessuto economico / sociale
			    del nostro paese vari disagi.
			    Presentati agli uffici del centro più vicino a te per aver accesso alle nostre attività formative , e rimetti in gioco le tue capacità! </p>
		</div>
		<div id="sidebar">
			<h2>Trova il centro più vicino a te :</h2>
			
				
				<select name="c" onChange="showMap()" id="selectBox">
		   			  <option th:each="centro: ${centriList}"
		            		  th:value="${centro.indirizzo + ' , ' + centro.citta}"
		            		  th:text="${centro.nome + ' , ' + centro.citta}">
		    		  </option>
				</select>
				<br><br><br>
				<div id="mappa"> </div>
		</div>
	</div>
</div>
<div id="footer"><p style="margin-top: 40px;">PROGETTO SIW 2017/2018 BY GIORGIO & TOMMASO ZAZZARETTI</p></div>
<!-- end #footer -->
</body>

<script type="text/javascript">
	function showMap() 
	{
		var marcatore;  //variabile per  google.maps.Marker//
		var mappa;  //variabile per google.maps.Map//
		var geocoder = new google.maps.Geocoder();
		var address = document.getElementById("selectBox").value;

		geocoder.geocode( { 'address': address}, function(results, status)
		{
				if (status == google.maps.GeocoderStatus.OK) 
				{
				    var latitudine = results[0].geometry.location.lat();
				    var longitudine = results[0].geometry.location.lng();
					var coordinate = new google.maps.LatLng(latitudine,longitudine);  //Definizione coordinate

					var elemento = document.getElementById('mappa');
					var caratteristiche_mappa =             //definizione caratteristiche della mappa in una struct//
					{
						zoom: 15,  
						center: coordinate, //fisso il centro dell'immagine con le coordinate
						mapTypeId: google.maps.MapTypeId.ROADMAP
					};
					
					mappa = new google.maps.Map(elemento,caratteristiche_mappa);  //crezione mappa (oggetto html, caratteristiche)

					var marcatore = new google.maps.Marker 
					({
		    			position: coordinate,
		    			map: mappa,
		    			title: address
		  			});

					var arr = address.split(",");

		  			var contentString = '<div id="content" style="width:220px;height:53px;text-align:center;line-height: normal">'+
							            '<div id="bodyContent">'+
							            '<p>'+arr[0]+'<br>'+
							            '<b>'+arr[1]+'</b></p>'
							            '</div>'+
							            '</div>';

			        var infowindow = new google.maps.InfoWindow({
			          content: contentString
			        });

			        marcatore.addListener('click', function() {
	 					 infowindow.open(mappa, marcatore);
					});

			        infowindow.open(mappa, marcatore);
	  			}
		}); 
	}
  	</script>
  	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUbCiQIQQ_1H5CSj2VdDDlPEvxgUsKmYQ&callback=initMap"></script>
</html>