<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Login</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body onload="setFooter()">
<div id="header" class="container">
	<div id="logo">
		<h1><a th:href="@{/}">NewJob </a></h1>
		<p>Cambia la tua vita</p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a th:href="@{/}">Homepage</a></li>
			<li><a th:href="@{/login}">login</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="splash"><br><br><br><br>
		<p><span>Login</span></p>
	</div>
	<div id="poptrox" style="text-align:center;"> 
		
            <form th:action="@{/login}" method="POST">
   	        	<h1>Email:</h1><input type="text" name="username" />
		        <h1>Password:</h1> <input type="password" name="password"/><br><br>
		    <input type="submit" value="Entra">
	       </form>
	</div>
</div>
<div id="footer"><p style="margin-top: 40px;">PROGETTO SIW 2017/2018 BY GIORGIO & TOMMASO ZAZZARETTI</p></div>
</body>
<script type="text/javascript"> 
function setFooter(){ 
	document.getElementById("footer").style.position = "relative";
	document.getElementById("footer").style.top = (window.innerHeight - 701) + "px";
	
}
</script>
</html>